<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Database Edit Form</title>
        <link
            rel="stylesheet"
            href="../../../static/css/database_edit_form.css"
        />
    </head>
    <body>
        <header>
            <h2>Manage Teachers</h2>
        </header>
        <main>
            <!--here the form renders-->
            <form method="POST" action="{{ url_for('database_edit_form.get_teacher') }}">
            {{ form.csrf_token }}
            {{ form.name.label }} 
            {{ form.name(size=30) }}
            <input type="submit" value="Submit">
            </form>
            <div class="curr-data-area">
                <div class="curr-data-heading">
                    <h3>Current Database</h5>
                </div>
                <div class="curr-data-main">
                    {% for i in data %}
                    <div class="card">
                        <div class="card-content">
                            <div class="content-part">{{ i.name }}</div>
                        </div>
                        <div class="card-edit" title="Edit"><button></button></div>
                        <div class="card-delete" title="Delete"><button></button></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>
