<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Schedulo Editor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}" />
    </head>
    <body>
        <main>
            <div class="table-area">
                <div class="box th">Day</div>
                <div class="box th">Stream</div>
                <div class="box th">10:00-10:50</div>
                <div class="box th">10:50-11:40</div>
                <div class="box th">11:40-12:30</div>
                <div class="box th">12:30-1:20</div>
                <div class="box th">1:20-2:00</div>
                <div class="box th">2:00-2:50</div>
                <div class="box th">2:50-3:40</div>
                <div class="box th">3:40-4:30</div>
                <div class="box th">4:30-5:20</div>
                <div class="box day">Monday</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box recess">RE</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box day">Tuesday</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box recess">C</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box day">Wednesday</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box recess">E</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box day">Thursday</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box recess">S</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box day">Friday</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box recess">S</div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>

            <div class="faculty-area">
                <div class="search">Search Area</div>
                <div class="card" style="margin-top: 100px">Teacher 1</div>
                <div class="card">Teacher 1</div>
                <div class="card">Teacher 1</div>
                <div class="card">Teacher 1</div>
                <div class="card">Teacher 1</div>
                <div class="card">Teacher 1</div>
                <div class="card">Teacher 1</div>
                <div class="card">Teacher 1</div>
                <div class="card">Teacher 1</div>
                <div class="card">Teacher 1</div>
            </div>

            <div class="control-area">
                <div class="control-item">
                    <div class="btn-arrow btn-prev">
                        <button></button>
                    </div>
                    <div class="sheet-info">Current<br />27 May - 4 June</div>
                    <div class="btn-arrow btn-next">
                        <button></button>
                    </div>
                </div>
                <div class="control-item">
                    <div class="sheet-info">27 May - 4 June</div>
                </div>
                <div class="control-item">
                    <div class="btn-download">
                        <button>Download PDF</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
