* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 10vh;

    /* background-color: #d2691e4a; */

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
}

main {
    width: 100%;
    height: 90vh;

    /* background-color: #3514dc4b; */

    display: grid;
    grid-template-columns: 1fr 4fr;
}

.manage-db-grid-area {
    /* border: 1px solid #00fa9a81; */

    display: grid;
    grid-template-rows: 1fr 7fr;
}

.manage-db-main {
    /* border: 1px solid #ff00ff86; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;

    padding: 50px 0px 0px 0px;
}

.history-grid-area {
    /* border: 1px solid #c7158692; */

    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.label {
    /* border: 1px solid #00008082; */

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.3rem;
    font-weight: 500;

    background-color: #80808043;
}

.history-main {
    width: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 20px;

    border: 1px solid #000000;
}

.history-item {
    width: 100%;
    height: 50%;
    margin: 20px 0px 25px 0px;

    border: 1px solid #fa8072;
    background-color: #fa807211;
    border-radius: 10px;
}

.ctrl-area {
    /* border: 1px solid #07f47d69; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button {
    min-width: 200px;
    min-height: 50px;
    padding: 15px 20px 15px 20px;

    background-color: #80808040;
    border: none;

    cursor: pointer;

    font-size: 1.15rem;
    transition: all 0.5s ease-in-out 0s;
}

.btn button:hover {
    transform: scale(1.1);
}
