.container {display: inline-block;}

.typedtext{
    font-size: large;
    letter-spacing: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 0.5s steps(9),
                cursor .4s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor{
    50% { border-color: transparent}
}
@keyframes typing{
    from { width: 0}
}

