<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Landing After Page</title>
        <link rel="stylesheet" href="../../../static/css/landing_after.css" />
    </head>
    <body>
        <header style="border-bottom: 1px solid black">Welcome Sir</header>
        <main>
            <div class="manage-db-grid-area">
                <div class="label" style="border-bottom: 1px solid black">
                    Manage Database
                </div>
                <div class="manage-db-main">
                    <div class="btn">
                        <form action="" method="">
                            <button type="submit">Add Branch</button>
                        </form>
                    </div>
                    <div class="btn">
                        <form action="" method="">
                            <button type="submit">Add Department</button>
                        </form>
                    </div>
                    <div class="btn">
                        <form action="" method="">
                            <button type="submit">Add Teacher</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="history-grid-area">
                <div class="label" style="border-left: 1px solid black">
                    History
                </div>
                <div class="history-main">
                    <div class="history-item">History 1</div>
                    <div class="history-item">History 2</div>
                    <div class="history-item">History 3</div>
                    <div class="history-item">History 4</div>
                    <div class="history-item">History 5</div>
                </div>
                <div class="ctrl-area">
                    <div class="btn">
                        <form action="" method="">
                            <button type="submit">Make a Timetable</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
